{
    "EgressProtoFunction": {
        "API_PRIV_KEY": "<private key from api-token.json>",
        "API_TOKEN_ID": "<id from api-token.json>",
        "API_BASE_URL": "<base_url from api-token.json>",
        "BUCKET_NAME": "<Bucket name from template.yaml>"
    }
}