alabaster==0.7.12
argcomplete==1.11.0
astroid==2.3.3
bcrypt==3.1.7
cachetools==4.0.0
cffi==1.13.2
Click==7.0
cryptography==2.8
dill==0.2.7.1
docutils==0.15.2
Flask==1.1.1
funcparserlib==0.3.6
future==0.16.0
get==2019.4.13
glob2==0.6
google-api-core==0.1.4
google-api-python-client==1.6.5
google-auth==1.10.0
google-cloud-core==0.28.1
google-cloud-storage==1.7.0
google-resumable-media==0.5.0
googleapis-common-protos==1.6.0
h5py==2.10.0
httplib2==0.18.0
imagesize==1.2.0
importlib-metadata==1.3.0
isort==4.3.21
itsdangerous==1.1.0
jmespath==0.9.4
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.0.2
numpy==1.16.3
oauth2client==4.1.3
opencv-python-headless==4.1.0.25
packaging==20.0
paramiko==2.7.1
Pillow==8.3.2
pockets==0.9.1
post==2019.4.13
public==2019.4.13
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
Pygments==2.5.2
PyNaCl==1.3.0
pyparsing==2.4.6
pysftp==0.2.9
python-dateutil==2.7.0
query-string==2019.4.13
request==2019.4.13
requests==2.21.0
requests-toolbelt==0.8.0
retrying==1.3.3
rsa==4.0
s3transfer==0.2.1
six==1.11.0
snowballstemmer==2.0.0
tabulate==0.8.5
typed-ast==1.4.0
tzlocal==2.0.0
uritemplate==3.0.1
virtualenv==16.7.9
webcolors==1.10
Werkzeug==0.16.0
wrapt==1.11.2
zipp==0.6.0
git+git://github.com/voxel51/api-py.git@develop
git+git://github.com/voxel51/eta.git@develop
